<%- include('./partials/head') %>

  <main id="main">
    <div class="card"><img src="assets/potret.jpg"/>
      <div class="text">
        <h2 data-splitting="">About Me,</h2>
        <p data-splitting=""><%= member.bio.html %></p>
      </div>
    </div>
    <div class="card"><img src="assets/me.jpg"/>
      <div class="text">
        <h2 data-splitting="">The Future!</h2>
        <p data-splitting=""> Ik vindt ICT heel intressant en ik kan niet wachten om mijn skills vergoten en uiteindelijk om een frontend te worden.</p>
      </div>
    </div>
  </main>

 <%- include('./partials/foot') %>

